<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Horas</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.getName()}"></td>
                <td th:text="${course.getDescription()}"></td>
                <td th:text="${course.getHours()}"></td>
                <td th:text="${course.getPrice()}"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
            <p>Name: <input type="text" th:field="*{name}"></p>
            <p th:if="${#fields.hasErrors('name')}" th:erros="*{name}">Error in name</p>

            <p>Description: <input type="text" th:field="*{description}"></p>
            <p th:if="${#fields.hasErrors('description')}" th:erros="*{description}">Error in description</p>

            <p>Price: <input type="text" th:field="*{price}"></p>
            <p th:if="${#fields.hasErrors('price')}" th:erros="*{price}">Error in price</p>

            <p>Hours: <input type="text" th:field="*{hours}"></p>
            <p th:if="${#fields.hasErrors('hours')}" th:erros="*{hours}">Error in hours</p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>