<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Horas</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.getName()}"></td>
                <td th:text="${course.getDescription()}"></td>
                <td th:text="${course.getHours()}"></td>
                <td th:text="${course.getPrice()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>