<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <form action="#" th:action="@{/postExample/addPerson}" th:object="${person}" method="post">
        <p>Name: <input type="text" th:field="*{name}"></p>
        <p th:if="${#fields.hasErrors('name')}" th:erros="*{name}">Error in name</p>
        <p>Age: <input type="number" th:field="*{age}"></p>
        <p th:if="${#fields.hasErrors('age')}" th:erros="*{age}">Error in age</p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>